
<Configuration status="WARN">
<properties>
<property name="basePath">./Logs
</property>
</properties>
  <Appenders>
   <RollingFile name = "File" fileName="${basePath}/Printsnew.log" filepattern="$(basePath)/prints-%d(yyyy-MM-dd).log">
  <PatternLayout pattern= "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}-%msg%n"/>
  <SizeBasedTriggeringPolicy size="500"/>
  </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  <Logger name="pac1" level="error" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
