<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
<listener class-name="Package.Listeners"/>
</listeners>
  <test  name="Landing on HomePage">
    <classes>
      <class name="Package.Test1"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test  name="Validating the TextBar">
    <classes>
     <class name="Package.ValidationBar"/>
    </classes>
  </test> <!-- Test -->
  
   <test  name="Validating the WebElement">
    <classes>
      <class name="Package.Validation"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
